body{
    margin-top: 200px;
    text-align: center;
    background-color: peachpuff;
}
button{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background: royalblue;
    border: transparent;
    border-radius: 10px;
}
.container{
    justify-content: center;
    align-content: center;
}
h2{
    text-align: center;
}